.main-box{
  position: absolute ;
  background-color: #fffef9;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 50px;
  height: fit-content;
  max-height: 500px;
  right:0;
  left:0;
  top: 25vh;
  text-align: center;
  width: 60vh;
  max-width: 70vh;
  z-index: 4;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: auto;
  scroll-margin:100px 100px 0 10px ;
  //scroll bar effect
  &::-webkit-scrollbar{
    width:0.06rem;
  }
  &::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);

  }
  &::-webkit-scrollbar-thumb{
    background-color: #FBCB0A;
  }
}