button{
  background-color: #FBCB0A;
  font-size: 16px;
  color: #fffef9;
  width:60px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 4px 4px 4px 4px;
  font-family: 'Karla', sans-serif;
  margin-bottom: 2rem;

}