.navigation-container {
  width: 100%;
  justify-content: center;
  display: flex;
  .navigation {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    .icons {
      font-size: 30px;
      flex: auto;
      color: #fbcb0a;
      margin: 10px;
    }
  }
}
